Options -Indexes
DirectoryIndex index.html

<IfModule mod_headers.c>
  Header set X-Robots-Tag "noindex, nofollow"
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /lkb-preview/
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]
  RewriteRule ^example-a/?$ example-a/index.html [L]
  RewriteRule ^example-b/?$ example-b/index.html [L]
</IfModule>
